*.o
*.lo
*.a
*.la
.deps
.libs
Doxyfile
doc/doxyfile.stamp
doc/doxygen_sqlite3.db
doc/html/
doc/latex/
Makefile
Makefile.in
*.m4
autom4te.cache
config*
.dirstamp
smvLexer*
smvParser*
helpers/
libtool
INSTALL
TAGS
.timestamp
stamp-h1
